# Addition of two numbers using ML

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('add.csv')

In [3]:
data

        x      y    sum
0     1.0    1.0    2.0
1     2.0    2.0    4.0
2     4.0    4.0    8.0
3     6.0    6.0   12.0
4     7.0    7.0   14.0
5    10.0   10.0   20.0
6    14.0   14.0   28.0
7    21.0   21.0   42.0
8    24.0   24.0   48.0
9    25.3   27.7   53.0
10   18.3   16.4   34.7
11   33.2   54.5   87.7
12   43.0   49.0   92.0
13  102.0   86.0  188.0
14   97.4   17.3  114.7
15   65.0   49.0  114.0
16  300.0  200.0  500.0
17  216.0  118.0  334.0
18  287.0  312.0  599.0

In [4]:
data.head()

     x    y   sum
0  1.0  1.0   2.0
1  2.0  2.0   4.0
2  4.0  4.0   8.0
3  6.0  6.0  12.0
4  7.0  7.0  14.0

In [5]:
data.tail()

        x      y    sum
14   97.4   17.3  114.7
15   65.0   49.0  114.0
16  300.0  200.0  500.0
17  216.0  118.0  334.0
18  287.0  312.0  599.0

In [6]:
data.shape

(19, 3)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       19 non-null     float64
 1   y       19 non-null     float64
 2   sum     19 non-null     float64
dtypes: float64(3)
memory usage: 584.0 bytes

In [9]:
import matplotlib.pyplot as plt

In [10]:
plt.scatter(data['x'],data['sum'])

In [11]:
plt.scatter(data['y'],data['sum'])

In [43]:
X=data[['x','y']]
Y=data['sum']

In [61]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33,random_state=4)

In [62]:
X_train

        x      y
13  102.0   86.0
11   33.2   54.5
18  287.0  312.0
10   18.3   16.4
9    25.3   27.7
2     4.0    4.0
15   65.0   49.0
7    21.0   21.0
8    24.0   24.0
1     2.0    2.0
5    10.0   10.0
14   97.4   17.3

In [68]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,Y_train)

LinearRegression()

In [69]:
model.fit(X_train,Y_train)

LinearRegression()

In [70]:
model.score(X_train,Y_train)

1.0

In [71]:
model.score(X_test,Y_test)

1.0

In [72]:
Y_pred=model.predict(X_test)

In [73]:
Y_pred

array([ 28.,  12., 334.,  92.,  14.,   2., 500.])

In [77]:
Y_test

6      28.0
3      12.0
17    334.0
12     92.0
4      14.0
0       2.0
16    500.0
Name: sum, dtype: float64

In [78]:
df=pd.DataFrame({'Actual':Y_test,'Prediction':Y_pred})
df

    Actual  Prediction
6     28.0        28.0
3     12.0        12.0
17   334.0       334.0
12    92.0        92.0
4     14.0        14.0
0      2.0         2.0
16   500.0       500.0

In [81]:
model.predict([[27,112]])

/data/user/0/ru.iiec.pydroid3/files/aarch64-linux-android/lib/python3.9/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([139.])

In [83]:
import joblib

In [100]:
joblib.dump(model,'model_joblib')

['model_joblib']

In [112]:
model=joblib.load('model_joblib')
model.predict([[27,112]])

/data/user/0/ru.iiec.pydroid3/files/aarch64-linux-android/lib/python3.9/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([139.])

In [ ]:
X=data[['x','y']]
Y=data['sum']

In [113]:
model=LinearRegression()
model.fit(X,Y)

LinearRegression()

In [114]:
import joblib 
joblib.dump(model,'model_joblib')
model=joblib.load('model_joblib')
model.predict([[27,112]])

/data/user/0/ru.iiec.pydroid3/files/aarch64-linux-android/lib/python3.9/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([139.])

In [2]:
def shows_entry_fields():
    p1=float(e1.get()) 
    p2=float(e2.get())
    model=joblib.load('model_joblib')
    result=model.predict([[p1,p2]])
    Label(master,text='sum is = ').grid(row=4)
    Label(master,text= result).grid(row=5)
    print("sum is", result)

from tkinter import *
import joblib 

master=Tk()
master.title("Addition of two numbers using ML")
label=Label(master, text="addition of two numbers using ML",bg='black',fg='white').grid(row=0,columnspan=2)

Label(master,text="Enter First Number").grid(row=1)
Label(master,text="Enter Second Number").grid(row=2)

e1=Entry(master)
e2=Entry(master)

e1.grid(row=1,column=1)
e2.grid(row=2,column=1)
Button(master,text='predict',command=show_entry_fields).grid()
mainloop()

GUI applications cannot be ran from terminal (e.g. REPL mode)
Use IDE to run these applications
This is not a bug, please do not report it via email or Google Play reviews, thank you for your understanding

AttributeError: 'NoneType' object has no attribute 'call'